@font-face {
	font-family: Comfortaa;
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url(../fonts/comfortaa-v40-cyrillic-700.bc1657ffe7d1c15ef896.woff2)
			format('woff2'),
		// url(../fonts/comfortaa-v40-cyrillic-700.8b9ee79ac461735db231.woff)
		// 	format('woff');
}
// TODO
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url(../fonts/nunito-v24-cyrillic-regular.ac1741731b39bc1f5abf.woff2)
			format('woff2'),
		// url(../fonts/nunito-v24-cyrillic-regular.3b59f67332cde536e48c.woff)
		// 	format('woff');
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	src: local(''),
		url(../fonts/nunito-v24-cyrillic-600.ea9bb316e858c376c2ab.woff2)
			format('woff2'),
		// url(../fonts/nunito-v24-cyrillic-600.259682ca852c1e33be44.woff)
		// 	format('woff');
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url(../fonts/nunito-v24-cyrillic-700.17457b80884d06340e5d.woff2)
			format('woff2'),
		// url(../fonts/nunito-v24-cyrillic-700.28f98bfe91c387ab77d0.woff)
		// 	format('woff');
}