
html {
	box-sizing: border-box;
	position: relative;
}
*,
:after,
:before {
	box-sizing: inherit;
}
body {
	background-color: $bgcolor;
	color: #fff;
	font-family: Merriweather Sans, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: initial;
	min-height: 100vh;
	min-width: 320px;
	padding-bottom: 200px;
}
img {
	height: auto;
	max-width: 100%;
}
button {
	cursor: pointer;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
}
fieldset,
figure,
h1,
h2,
h3,
p,
ul {
	margin: 0;
}
iframe {
	border: none;
}
.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	border: 0;
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.button {
	background: linear-gradient(
		87.4deg,
		#2e00b1 -11.74%,
		#8100bd 48.81%,
		#a400be 113.27%
	);
	border: none;
	border-radius: 10px;
	color: #fff;
	transition: background-color .3s ease-in-out;


	&:hover {
		background: linear-gradient(88.2deg, #A400BE -14.85%, #8100BD 50.2%, #2E00B1 115.25%, #2E00B1 115.25%);
	}
	&:focus {
		background: linear-gradient(88.2deg, #2E00B1 -14.85%, #A400BE 50.2%, #2E00B1 115.25%, #2E00B1 115.25%);
	}
	&:active {
		background: #2E00B1
	}
}
.active {
	color: #c6b6d7;
	color: $text;
}
.header {
	background-color: $header;
	padding: 20px 0;
	
	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	
	&__navigation {
		gap: 30px;
		display: flex;
		font-family: Nunito;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		
		&-exit {
			display: flex;
			font-family: Nunito;
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			align-items: center;
			background-color: initial;
			border: none;
			color: #fff;
			gap: 5px;
		}
	}
	
	@include tablet {
		padding: 10px 0;
		
		&__navigation {
			font-size: 12px;
			gap: 15px;
			
			&-exit {
				font-size: 12px;
			}
		}
		
		&__logo-image {
			max-width: 100px;
		}
		
		&__navigation-arrow {
			max-width: 10px;
		}
	}
}
.layout {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 130px;

	@include tablet {
		padding: 0 30px;
	}
}
.currencies__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 80px;
}
.currencies__title {
	font-family: Comfortaa;
	font-size: 40px;
	font-weight: 700;
	line-height: 45px;
}
.currencies__button {
	font-family: Nunito;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 70px;
	padding: 12px 30px;
}
.currencies__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.currencies__wrapper-title {
	font-family: Comfortaa;
	font-size: 26px;
	font-weight: 700;
	line-height: 29px;
	margin-bottom: 20px;
}
.currencies__sort {
	align-items: center;
	display: flex;
	gap: 15px;
}
.currencies__sort-title {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}
.currencies__sort-select {
	background-color: initial;
	border: none;
	color: #fff;
	outline: transparent;
	width: 100%;
}
.currencies__sort-select option {
	background-color: $bgcolor;
}
.currencies__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}
.Currencies_preloader__container__4V0Eh {
	align-items: center;
	display: flex;
	height: 90vh;
	justify-content: center;
	width: 100%;
} // TODO
@media (max-width: 768px) {
	.currencies__container {
		justify-content: center;
	}
	.currencies__title {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 20px;
		text-align: center;
	}
	.currencies__button {
		margin-bottom: 30px;
	}
	.currencies__wrapper-title {
		font-size: 20px;
		margin-bottom: 0;
	}
	.currencies__list {
		margin-top: 20px;
	}
}
.currencies__list-card {
	background: $header;
	border-radius: 10px;
	display: flex;
	flex-basis: 380px;
	flex-direction: column;
	padding: 15px 20px;
	border: 2px solid transparent;
	transition: border-color 0.3s ease-in-out;
	&:hover {
		border: 2px solid $pink;
	}
}

.currencies__list-card-id {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-style: normal;
	line-height: 20px;
	margin-bottom: 15px;
}
.currencies__list-card-balance {
	font-family: Nunito;
	font-size: 32px;
	font-weight: 600;
	line-height: 44px;
	margin-bottom: 20px;
}
.currencies__list-card-balance:after {
	content: ' ₽';
}
.currencies__list-card-info {
	color: $text;
	display: flex;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	justify-content: space-between;
	line-height: 20px;
	width: 100%;
}
.account__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 65px;
}
.account__container-header {
	align-items: center;
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	margin-bottom: 80px;
}
.account__title {
	font-family: Comfortaa;
	font-size: 26px;
	font-weight: 700;
	line-height: 29px;
}
.account__dynamic {
	background: $header;
	border-radius: 10px;
	margin-top: 50px;
	max-height: 312px;
	padding: 20px;
	width: 580px;
}
.account__dynamic-header {
	align-items: center;
	display: flex;
}
.account__dynamic-title {
	font-family: Nunito;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-right: 20px;
}
.account__dynamic-year {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}
.account__dynamic-select {
	background-color: initial;
	border: none;
	color: $text;
	margin-left: auto;
	outline: transparent;
}
.account__dynamic-select option {
	background-color: $header;
}
.canvas {
	max-width: 540px;
	max-height: 248px;
}
.account__button {
	align-items: center;
	display: flex;
	gap: 10px;
	padding: 12px 30px;
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
.account__history {
	max-width: 580px;
}
.account__history-title {
	font-family: Comfortaa;
	font-size: 26px;
	font-weight: 700;
	line-height: 29px;
	margin-bottom: 20px;
}
.Account_preloader__container__1EeB8 {
	align-items: center;
	display: flex;
	height: 90vh;
	justify-content: center;
	width: 100%;
} // TODO
.account__transaction {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width: 100%;
}
.account__transaction-title {
	margin-bottom: 40px;
}
.account__transaction-form {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}
.account__transaction-input-wrapper {
	display: flex;
	flex-direction: column;
	width: 380px;
}
.account__transaction-label {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 2px;
	padding-left: 15px;
}
.account__transaction-input {
	border: 2px solid $pink;
	border-radius: 10px;
	min-height: 70px;
	padding: 20px;
}
.account__transaction-message {
	color: #FF7272;
	font-size: 14px;
	margin-top: 4px;
}
.account__transaction-message--error {
	font-weight: bold;
}
.account__transaction-success-message {
	color: #6AD880;
	font-size: 14px;
	margin-top: 4px;
}
.account__button {
	font-family: Nunito;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	padding: 22.5px 143px;
}
@media (max-width: 768px) {
	.account__container-header {
		flex-direction: column-reverse;
		gap: 15px;
		margin-bottom: 30px;
	}
	.account__title {
		font-size: 14px;
	}
	.account__button {
		font-size: 16px;
		padding: 15px 30px;
	}
	.account__dynamic {
		margin-bottom: 30px;
		margin-top: 0;
	}
	.account__history {
		margin-bottom: 30px;
		max-width: 100%;
		// position: relative;
		// width: 100%;
		// overflow: hidden;
	
		// &:after {
		// 	content: '';
		// 	display: block;
		// 	height: 100%;
		// 	margin-right: -20px;
		// }
	}
	.account__history-title {
		font-size: 20px;
		text-align: center;
	}
	.account__transaction {
		margin-top: 0;
	}
	.account__transaction-title {
		font-size: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.account__transaction-form {
		flex-direction: column;
		gap: 15px;
	}
	.account__transaction-input-wrapper {
		max-width: 100%;
	}
	.account__button {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
.account__table-container {
	max-height: 487px;
	overflow-x: hidden;
	overflow-y: auto;
	/* Custom Scroll Styles */
	scrollbar-width: thin;
	scrollbar-color: $header $text;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $text;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: $pink;
	}
}
.account__table-table {
	background-color: $header;
	border-radius: 10px;
	padding: 20px;
	width: 580px;
}
.account__table-thead {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}
.account__table-th {
	border-bottom: 1px solid $bgcolor;
	padding: 10px 0 16px 20px;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:nth-child(2) {
		border-left: 1px solid $bgcolor;
		border-right: 1px solid $bgcolor;
	}

	&:last-child {
		padding-left: 12px;
	}
}
.account__table-tbody {
	font-family: Nunito;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}
.account__table-td {
	padding: 12px 0;

	&.account__table-td-middle {
		border-left: 1px solid $bgcolor;
		border-right: 1px solid $bgcolor;
		padding-left: 20px;
	}

	&.account__table-td-negative {
		color: #B865D6;
	}

	&.account__table-td-date {
		padding-left: 12px;
	}
}
@media (max-width: 768px) {
	.account__table-container {
		max-height: 300px;
		max-width: 100%;
	}
	.account__table-table {
		max-width: 100%;
		padding: 5px;
	}
	.account__table-th {
		font-size: 14px;
		max-width: 30%;
		padding: 5px;
	}
	.account__table-tbody {
		font-size: 12px;
		max-width: 100%;
	}
	.account__table-td {
		max-width: 30%;
		padding: 5px 0;
	}
}
.exchange__container {
	padding-top: 60px;
}
.exchange__title {
	font-family: Comfortaa;
	font-size: 26px;
	font-weight: 700;
	line-height: 29px;
	margin-bottom: 40px;
}

.exchange__account-info {
	margin-bottom: 10px;
}

.exchange__balance-info {
	margin-top: 10px;
}

.exchange__text {
	color: $text;
	display: inline-block;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
	width: 70px;
}
.exchange__text:first-of-type {
	margin-bottom: 15px;
}
.exchange__text-white {
	font-family: Nunito;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}
.exchange__balance:after {
	content: ' ₽';
}
.exchange__wrapper {
	display: flex;
	gap: 15px;
	justify-content: space-between;
}
.exchange__rates-wrapper {
	background: $header;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	padding: 15px 60px 25px 20px;
}
.exchange__rates-title {
	font-family: Nunito;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
.exchange__tr {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	padding-top: 7px;
}
.Exchange_loader__container__AiT9c {
	display: flex;
	justify-content: center;
	width: 100%;
} //TODO
.exchange__td-first {
	font-family: Nunito;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	vertical-align: bottom;
}
.exchange__td-second {
	border-bottom: 1px solid $bgcolor;
	width: 100%;
}
.exchange__td-third {
	align-items: center;
	display: flex;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 700;
	gap: 5px;
	justify-content: flex-end;
	line-height: 100%;
	margin-top: 20px;
}
.exchange__right-wrapper {
	display: flex;
	flex-direction: column;
}
.exchange__form-wrapper {
	background-color: $header;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	padding: 15px 20px 20px;
}
.exchange__form-title {
	font-family: Nunito;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-bottom: 15px;
}
.exchange__form {
	display: flex;
	flex-direction: column;
}
.exchange__form-input {
	display: flex;
	margin-bottom: 25px;
}
.exchange__form-input-wrapper {
	display: flex;
	flex-direction: column;
	min-width: 150px;
	position: relative;
}
.exchange__form-input-wrapper:not(:last-of-type) {
	margin-right: 35px;
}
.exchange__form-label {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 2px;
	padding-left: 10px;
}
.exchange__form-select {
	border-radius: 6px;
	padding: 10px;
}
.exchange__form-select:last-of-type {
	width: 147px;
}
.exchange__form-submit {
	align-self: flex-end;
	font-family: Nunito;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	max-width: 150px;
	padding: 6px 30px;
	
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
.exchange__right-th {
	font-family: Nunito;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	padding-bottom: 10px;
	text-align: left;
}
.exchange__right-td-code {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	width: 45px;
}
.exchange__right-td-amount {
	font-family: Nunito;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}
.exchange__form-error {
	color: tomato;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: -30px;
}

.exchange__form-success {
	font-size: 12px;
	position: absolute;
	right: 0;
	top: -30px;
}
@media (max-width: 768px) {
	.exchange__wrapper {
		flex-direction: column;
		gap: 20px;
	}
	.exchange__rates-wrapper {
		max-height: 100%;
		padding-right: 20px;
	}
	.exchange__rates-title {
		text-align: center;
	}
	.exchange__form-input {
		flex-direction: column;
	}
	.exchange__form-input-wrapper:not(:last-of-type) {
		margin-right: 0;
	}
	.exchange__form-select:last-of-type {
		width: 100%;
	}
}
.auth {
	display: flex;
	justify-content: center;
	padding-top: 120px;
}
.auth__container {
	background: $header;
	border-radius: 10px;
	display: flex;
	height: 466px;
	justify-content: center;
	padding: 50px 0;
	width: 580px;
}
.auth__form {
	display: flex;
	flex-direction: column;
}
.auth__form-title {
	font-family: Comfortaa;
	font-size: 38px;
	font-weight: 700;
	line-height: 42px;
	margin-bottom: 20px;
}
.auth__form-input-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	position: relative;
}
.auth__form-error {
	bottom: 5px;
	color: red;
	font-size: 14px;
	position: absolute;
	right: 10px;
}
.auth__form-input-wrapper:not(:last-of-type) {
	margin-bottom: 20px;
}
.auth__form-label {
	color: $text;
	font-family: Nunito;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 2px;
}
.auth__form-input {
	border: 2px solid $pink;
	border-radius: 10px;
	padding: 20px;
}
.auth__form-button {
	font-family: Nunito;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	padding: 22.5px 0;
	
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
.footer {
	bottom: 50px;
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;

	@include tablet {
		bottom: 20px;
		width: 90%;
	}
	&__copy {
	
		@include tablet {
			margin-right: 40px;
			font-size: 14px;
		}
	}
	&__logo {
		@include tablet {
			max-width: 100px;
		}
	}
}
